body {
    background-color: lightblue;
}
.grid-container {
    display: grid;
    height: 2500;
    width: 2500;
    grid-template-columns: repeat(auto-fit,minmax(15px,1fr));
    column-gap: 0px;
    row-gap: 0px;
}
.grid-item {
    height: 15px;
    width: 15px;
    
    padding: 0px;
    background-color: green;
}
.grid-item:hover {
    background-color: lightyellow;
    display: block;
}
.sea {
    height: 15px;
    width: 15px;
    max-width: 100%;
    padding: 0px;
    background-color: lightblue;
}